.picker {
  display: flex;
  justify-content: center;
  margin: 40px 2%;
}

.colorPicker {
  margin: 0;
  width: 280px;
}

.iro__colorPicker {
  margin-right: 0;
}

.colorValues {
  margin-top: 20px;
  margin-left: 60px;
}

.color-container {
  width: 220px;
  padding: 10px 15px;
  font-family: 'Consolas', 'Courier New', Courier, monospace;
  font-size: 16px;
  letter-spacing: 0.1px;
  line-height: 1.5;
  text-shadow: -0.9px -0.9px 0 #444, 0.9px -0.9px 0 #444, -0.9px 0.9px 0 #444, 0.9px 0.9px 0 #444;
  color: #fff;
  border: 1px;
  border-style: solid;
  border-color: #000;
  box-shadow: 0 10px 6px -6px #777;
}

.picker input {
  width: 3.5ch;
}

.hex-container {
  height: 30px;
}

.name-label, .hex-label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 26px;
  padding: 2px 0;
}

.name-label input {
  width: 14ch;
  padding: 2.5px 2px;
}

.clip-name, .clip-hex {
  vertical-align: middle;
  padding: 4px 6px 2px 6px;
  height: 27.5px;
  outline: 0;
  background-color: #eee;
  background-image: linear-gradient(#fcfcfc,#eee);
  border: 1px solid rgba(27,31,35,.2);
}

.hex-label input {
  width: 7.5ch;
  padding: 2.5px 3px;
}

.clip-name:hover, .clip-hex:hover {
  background-image: linear-gradient(#fafafa,#ccc);
}

.clip-name:active, .clip-hex:active {
  background-image: linear-gradient(#eaeaea,#aaa);
}
