.picker {
  display: flex;
  justify-content: center;
}

.colorPicker {
  margin: 0;
  width: 280px;
}

.iro__colorPicker {
  margin-right: 0;
}

.colorValues {
  margin-top: 45px;
  margin-left: 60px;
}

.color-container {
  /* change */
  width: 220px;
  padding: 10px 15px;
  font-family: 'Consolas', 'Courier New', Courier, monospace;
  font-size: 16px;
  letter-spacing: 0.1px;
  line-height: 1.5;
  border: 1px;
  border-style: solid;
}

input {
  text-align: center;
  width: 3.5ch;
  font-family: inherit;
  font-size: inherit;
}

.hex-container {
  height: 30px;
}

#name-label, #hex-label {
  height: 26px;
  padding: 2px 0;
}

#name-label input {
  width: 14ch;
  padding: 2.5px 2px;
}

.clip-name {
  vertical-align: middle;
  padding: 4px 6px 2px 6px;
  height: 27px;
  margin-bottom: 2.5px;
  outline: 0;
  background-color: #eee;
  background-image: linear-gradient(#fcfcfc,#eee);
  border: 1px solid rgba(27,31,35,.2);
}

#hex-label input {
  width: 7.5ch;
  padding: 2.5px 3px;
}

.clip-hex {
  vertical-align: middle;
  padding: 4px 6px 2px 6px;
  height: 27px;
  margin-bottom: 2.5px;
  outline: 0;
  background-color: #eee;
  background-image: linear-gradient(#fcfcfc,#eee);
  border: 1px solid rgba(27,31,35,.2);
}

.clip-name:hover, .clip-hex:hover {
  background-image: linear-gradient(#fafafa,#ccc);
}

.clip-name:active, .clip-hex:active {
  background-image: linear-gradient(#eaeaea,#aaa);
}
