.scheme-name {
  margin-top: 15px;
  font-weight: bold;
}

.scheme-name input {
  width: 14ch;
  text-align: left;
}

.scheme-buttons {
  display: flex;
  justify-content: space-between;
}

.swatch-container {
  display: flex;
}
