.swatch {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4px;
  height: 20vh;
  width: 15vw;
}

.swatch span {
  text-align: center;
}

#swatch-input {
  width: 7.5ch;
  padding: 2.5px 3px;
  font-family: 'Consolas', 'Courier New', Courier, monospace;
}
