.swatch {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4px;
  height: 20vh;
  width: 15vw;
}

.swatch span {
  text-align: center;
  background-color: #fff;
  align-self: center;
  width: 7.5ch;
  border: 1px;
  border-style: solid;
}

.swatch input {
  width: 7.5ch;
  padding: 2.5px 3px;
  border: 1px;
  border-style: solid;
}
